.main-container {
  width: 100vw;
  padding-top: 9vh;
}

.selector-container {
  margin: 20px auto;
  text-align: center;
}

.chart-container {
  width: 260px;
  height: 260px;
  padding-left: calc(50% - 130px);
  margin-top: 76px;
}

.emo-container {
  margin: 36px auto;
  text-align: center;
  font-size: 50px;
}

.centered {
  text-align: center;
}

.large-font {
  font-size: 15px;
}
